.home{
    background-color: #01110a;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    color: white;
}

.home-content{
    max-width: 600px;
    padding: 20px;

}

.home h1{
    color: #1dbced;
    font-size: 2rem;
    margin-bottom: 20px;
}
.description{
    color: white;
    font-size: 1rem;
    margin-top: 20px;
}