.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #084C61;
    color: white;
    padding: 12px 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    z-index: 1000;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin:0 auto;
}
.logo{
    font-size: 1.7rem;
    font-weight: bold;
    color: #1dbced;
}
.search-form{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    padding: 3px 8px;
}
.search-form input{
    border: none;
    outline:none;
    padding: 6px 10px;
    font-size:1rem;
    width: 150px;
    background: transparent;
    color:#01110A;
}
.search-form button{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    color: #d4340c;
    transition:color 0.3s;
}
.search-form button:hover{
    color: #f4633e
}
@media (max-width:600px){
    .logo{
        font-size: 1.3rem;
    }
    .search-form input{
        width: 100px;
    }

}