.weather-card{
    background: #084c61;
    color: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    padding: 20px;
    text-align: center;
    max-width: 280px;
    margin: 20px auto;
    transition: tranform 0.3s ease,box-shadow 0.3 ease;
}
.weather-card:hover{
    transform: translateY(-5px);
    box-shadow:0 6px 18px rgba(0,0,0,0.6);
}
.weather-card h2{
    font-size: 1.4rem;
    color: #1dbced;
}
.time{
    color: #f4633e;
    font-size: 0.9rem;
}
.temp{
    font-size: 3rem;
    color: #d4340c;
    font-weight: bold;
    margin-top: 10px;
}
.condition{
    color: white;
    margin-top: 5px;
}